@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom smooth scrolling for the vault */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}